#global-styles{
    background-color: rgb(61, 61, 77);
    font-family: Roboto;
    background: url(./assets/swirls.jpg) repeat;
    background-attachment: fixed;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

/* SECTION STYLING */
#info-card{
    background-color: #FFFFFF ;
    box-shadow: rgb(0, 0, 0, 0.5) 0.2em 0.2em 0.2em;
    margin-bottom: 100px;
}
/* banner styles */
#banner{
    text-align: center;
    background-color: #5cc7b2;
    height: 10%;
    width: 100%;
    font-size: 60pt;
    color: #FFFFFF;
    /* margin-top: 10%; */
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

/* profile pic style */
#profile-pic{
    width: 100%;
    border: 2px solid #5cc7b2;
    border-radius: 1em;
}

/* sidebar styles */
#side-bar{
    /* custom width column */
    width: 200px;
    /*  */
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin: 0;
    text-align: left;
    box-shadow: rgb(0, 0, 0, 0.5) 0.2em 0.2em 0.2em;
}

/* container div */
#container-div{
    width: calc(100% - 200px);
    padding: 0;
    margin: 0;
    float: right;

}

/* mobile header style */
#mobile-header{
    height: 70px;
    background-color: #FFFFFF;
    /* border-bottom: 1px solid grey; */
    box-shadow: rgb(0, 0, 0, 0.5) 0.2em 0.2em 0.2em;
}

/* section specific styling */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* 

/* content page, including header */
#content-page{
    /*  */
    height: fit-content;
    width: 800px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    padding: 10px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */




/* media queries */
/* crossover point from desktop to mobile screens */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
@media only screen and (max-width: 1018px) {
    #side-bar{
        display: none;
    }
    #mobile-header{
        display: table;
    }
    #content-page{
        width: 100%;
    }
    #container-div{
        width: 100%;
        padding: 0;
        position: relative;
        z-index: -10;
        top: 70px;
    }
}
/* turn off the mobile header */
@media only screen and (min-width: 1019px){
    #mobile-header{
        display: none;
    }
}
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */


#test-box{
    margin-top: 5%;
    height: 400px;
    background-color: bisque;
}