#global-styles{
    background-color: transparent;
    font-family: Roboto;
    background-repeat: repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}
#info-card{
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
    height: fit-content;
    background-color: #FFFFFF;
    box-shadow: rgba(54, 54, 54, 0.7)0 0 5px;
}
#project-card{
    width: 30%;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: rgba(54, 54, 54, 0.7)0 0 5px;
    float: left;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: calc(10% / 6);
    margin-right: calc(10% / 6);
}
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

/* banner styles */
#banner{
    text-align: center;
    background-color: #083358;
    height: 120px;
    width: 100%;
    font-size: 60pt;
    color: #FFFFFF;
    text-align: left;
    text-indent: 5%;
    text-transform: capitalize;
    z-index: 10;
}

/* sidebar styles */
#side-bar{
    /* custom width column */
    width: 200px;
    background-color: #FFFFFF;;
    color: #083358;
    margin: 0;
    box-shadow: rgba(66, 62, 62, 0.5) 0.2em 0.2em 0.2em;
    padding: 0;
}

/* container div */
#container-div{
    width: calc(100% - 200px);
    position: relative;
    padding: 0;
    margin: 0;
    float: right;
}

/* mobile header style */
#mobile-header{
    display: none;
    height: 70px;
    background-color: #FFFFFF;
    /* border-bottom: 1px solid grey; */
    box-shadow: rgba(94, 89, 89, 0.5) 0.2em 0.2em 0.2em;
    color: #083358;
}
.content-page{
    min-height: calc(100% - 120px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    padding: 10px;
}
#block{
    height: 160px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding-top: 30px;
    font-family: Roboto;
}
#nametag{
    margin-left: 30px;
    text-align: left;
}

/* ================================ */
/* mobile header styles */

#chk{
    display: none;
}
#chk:checked ~ .menu{
    display: table;
}
#styles{
    padding: 0;
    margin: 0;
}
.mobile-menu{
    display: none;
    float: right;
    background-color: #FFFFFF;
    position: fixed;
    width: 50%;
    margin: 0;
    padding: 0;
    box-shadow: rgba(94, 89, 89, 0.5) 0.2em 0.2em 0.2em;
}
.show-menu-btn:hover{
    cursor: pointer;
}
.show-menu-btn{
    position: fixed;
    right: 10px;
    top: 20px;
}
/* ================================ */

/* button animations */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* sidebar button styles */
.btn{
    content: '';
    width: 100%;
    height: 50px;
    font-size: 12pt;
    text-align: left;
    border: 0;
    background-color: #FFFFFF;
    text-indent: 15%;
    color: grey;
    transition: 1s all ease;
}
.mobile-btn{
    content: '';
    width: 100%;
    height: 50px;
    font-size: 14pt;
    text-align: left;
    text-indent: 15%;
    border: 0;
    background-color: #FFFFFF;
    color: grey;
    transition: 1s all ease;
}
.mobile-btn:hover{
    background-color: rgba(182, 182, 182, 0.3);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 4px solid lightblue;
    transition-duration: 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(182, 182, 182, 0.3);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 4px solid lightblue;
    transition-duration: 0.5s;
    cursor: pointer;
}
.mobile-btn:focus{
    background-color: rgba(182, 182, 182, 0.3);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 4px solid lightblue;
    transition-duration: 0s;
    cursor: pointer;
}
.btn:focus{
    background-color: rgba(182, 182, 182, 0.3);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 4px solid lightblue;
    color: black;
    font-size: 13pt;
    transition-duration: 0s;
    cursor: pointer;
}
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */


/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CONTENT STYLING DONT TOUCH THE REST */
#page{
    padding: 0;
    width: 100%;
    font-family: Roboto;
}
/* ================================= */
/* about styles */
.about{
    width: 100%;
}
#about-page{
    padding: 100px;
    font-family: Roboto;
}
#profile-pic{
    width: 300px;
    border: 2px solid #083358;
    border-radius: 1em;
    float: right;
}
#statement{
    font-size: 26pt;
    border-left: 6px solid #083358;
    padding-left: 10px;
    color: rgb(121, 23, 23);
    margin-bottom: 40px;
    font-weight: normal;
}
#about-text{
    font-size: 18pt;
    line-height: 50px;
    color: rgb(41, 40, 40);
    font-weight: bold;
    margin-bottom: 40px;
}
/* ================================= */
/* experience  styles */
.experience{
    width: 800px;
}
#icon{
    height: 30px;
    width: 40px;
    float: left;
    margin-right: 10px;
}
#info-card-header{
    height: 60px;
    border-bottom: 1px solid lightgrey;
    color: #083358;
    padding: 10px;
}
#info-card-content{
    padding: 15px;
    font-size: 12pt;
}
#title{
    float: right;
    color: rgb(121, 23, 23);
    font-weight: bold;
}
#title-mobile{
    float: right;
    color: rgb(121, 23, 23);
    display: none;
    font-weight: bold;
}
#list{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    color: grey;
    font-weight: bold;
    font-size: 12pt;
}
#list-element{
    margin-left: 20px;
    color: black;
    font-size: 12pt;
    font-weight: normal;
}
#break{
    display: none;
}
#date{
    margin-top: 20px;
    font-size: 10pt;
    color: gray;
}
/* ================================= */
/* project styles */
.projects{
    width: 100%;
    display: table;
}
#project-image{
    width: 100%;
    height: 60%;
    cursor: pointer;
    float: left;
}
#project-info{
    padding: 20px;
    float: left;
    color: #083358;
    font-size: 18pt;
    line-height: 40px;
}
#more-info-page{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 100;
    display: none;
    padding: 15px;
}
#more-info-close-button{
    cursor: pointer;
    float: right;
}
#more-info-info{
    height: 70%;
}
#more-info-buttons{
    border-top: 1px solid grey;
    padding: 30px;
}
#share-button{
    cursor: pointer;
}
#github-button{
    cursor: pointer;
}
/* ================================= */
/* skills styles */
.skills{

}
/* ================================= */
/* education styles */
.education{

}
/* ================================= */
/* contact styles */
.contact{

}
/* ================================= */
/* media queries */
/* crossover point from desktop to mobile screens */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
@media only screen and (max-width: 1018px) {
    #side-bar{
        display: none;
    }
    #mobile-header{
        display: table;
    }
    #content-page{
        width: 100%;
    }
    #container-div{
        width: 100%;
        padding: 0;
        position: relative;
        z-index: -10;
        top: 70px;
    }
    #banner{
        font-size: 20pt;
        text-align: center;
        
    }
    .content-page{
        min-height: calc(100% - 190px);
    }
    .offset{
        height: 70px;
    }
    /* =========================================== */
    /* about section mobile styles */
    #about-page{
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Roboto;
        line-height: 30px;
    }
    #about-text{
        line-height: 30px;
        font-size: 12pt;
    }
    #statement{
        font-size: 18pt;
    }
    /* =========================================== */
    /* experience section mobile styles */
    .experience{
        width: 100%;
    }
    #title{
        display: none;
    }
    #title-mobile{
        float: left;
        display: block;
        font-size: 12pt;
    }
    #info-card-content{
        display: block;
    }
    #break{
        display: block;
    }
    /* =========================================== */
    /* project section mobile styles */
    .projects{
        width: 100%;
    }
    #project-card{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    /* ================================= */
    /* skills section mobile styles */
    .skills{

    }
    /* ================================= */
    /* education section mobile styles */
    .education{

    }
    /* ================================= */
    /* contact section mobile styles */
    .contact{

    }
}
/* extra about section styling */
@media only screen and (max-width: 1300px) {
    #profile-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 15px;
    }
}
/* ================================= */
/* background wrap mobile styling */
@media only screen and (max-width: 840px) {
    #global-styles{
        background-repeat: repeat-y;
    }
}